.mdl-layout-title {
	text-decoration: none;
}
.mdl-grid {
	justify-content: center;
}
.mdl-spinner {
	margin: 0 auto;
}
.full-width {
	width: 100%;
}

body {
  background: #fafafa;
  position: relative;
}
