.mdl-layout-title {
	text-decoration: none;
}
.mdl-grid {
	justify-content: center;
}
.full-width {
	width: 101%;
}
.wrappable, td {
	word-wrap: normal;
	white-space: normal;
}

body {
  background: #fafafa;
  position: relative;
}
