.mdl-grid {
	justify-content: center;
}
/*.mdl-card.events-card {
  width: 750px;
}
.mdl-card.skills-card {
  width: 420px;
}*/
.mdl-card__title {
  color: #000;
}
.mdl-card__menu {
  color: #fff;
}
.full-width {
	width: 100%;
}
.wrappable, td {
	word-wrap: normal;
	white-space: normal;
}

body {
  background: #fafafa;
  position: relative;
}
