$mdc-theme-primary: #3f51b5;

.menu-icon {
  margin: 11px 16px;
  cursor: pointer;
}

.search-bar {
  display: none;
  width: 230px;
  height: 32px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.15);
}

.search-button {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 18px;
}

@media screen and (min-width: 600px) {
  .search-bar {
    display: block;
  }
  .search-button {
    display: none;
  }
}

.search-input {
  margin-left: 4px;
  margin-right: 0px;
  input {
    color: white;
  }
}

.search-icon {
  margin-top: 6px;
  margin-right: 2px;
  float: right;
}

.navigation-list {
  width: 240px;
}

.search-container {
  margin: 8px 10px;
}

.search-field {
  width: 194px;
}

.search-list {
  width: 240px;
}
