@import "@material/react-list/index.scss";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/react-typography/index.scss";

.team-title {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 16px;
}

.card-title {
  margin-block-start: 0.67em;
  margin-block-end: 0;
  margin-left: 0.67em;
  margin-right: 0.67em;
}

.list-item-text {
  overflow: unset !important;
}

.location span {
  white-space: nowrap;
}

.matches {
  width: 100%;
}

.alliances {
  margin-left: auto;
  margin-right: 0;
}

.alliance {
  height: 2em;
  text-align: center;
}

.team {
  width: 3.5em;
  overflow: hidden;
}

.score {
  width: 2em;
  border-left: 4px solid white;
}

.current-team {
  text-decoration: underline;
}

.team-text {
  vertical-align: middle;
}

.team-link {
  display: block;
  margin: -10em;
  padding: 10em;
  text-decoration: none;
}

.team-link:hover {
  text-decoration: underline;
  text-decoration-color: black;
}

.red-alliance {
  background-color: #ff7961;
}

.blue-alliance {
  background-color: #6ec6ff;
}
